* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

body, html {
  height: 140%;
  background-image: url("https://images5.alphacoders.com/956/thumb-1920-956578.jpg");

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dailyquotes {
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;

}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  min-height: 700px;
  background: #fff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;

}

h1 {
  margin: 32px 0;
  color: #7a904d;
  font-size: 35px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 50px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 5px solid #d8ccb6;
  margin-right: 10px;
  outline: none;
  width: 320px;
  background: transparent;
  color: #9e8364;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: 4px solid #54d4fc;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(84, 212, 252, 1) 0%,
    rgba(140, 226, 247, 1) 100%
  );
  color: 	#654321;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #654321;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(84, 212, 252, 1) 0%,
    rgba(140, 226, 247, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(28, 124, 36, 1) 0%,
    rgba(122, 144, 77, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(84, 212, 252, 1) 0%,
    rgba(216, 204, 182, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
